/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: blue;
    background-color:cadetblue;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

div{
    height: 300px;
    width: 300px;
    text-align: center;
    align-content: center;
    background-color:green;
    border: 3px double black;
    padding: 10px;
     margin-left: 150px;

    

}
.jk{
    color: red;
    background-color: burlywood;
} */

/* body{
    background-color: aqua;
} */
/* #l1{
color: green;
} */

/* 
.container{
    display: flex;
    border: 1px solid black;
    background-color: aqua;
    height: 200px;
    width: 600px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    
}

.box{
    
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: brown;
} */
*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex   ;
    height: 600px;
    width: 1200px;
    border: 1px solid black;
    /* flex-direction:column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: space-between; */
    gap: 20px 30px;
}

.item{
    height: 200px;
    width:200px;
    border: 1px solid black;
    background-color: brown;
    flex-grow: 1;
}

.item4{
    /* order: -1; */
    flex-grow: 2;
    align-self: flex-end;
}